.c-hidden {
    display: none;
}

span.wpcf7-spinner {
    position: absolute;
}

.wpcf7 form .wpcf7-response-output {
    margin: 0;
    padding: 0;
    border: none;
}

.wpcf7 form .wpcf7-response-output {
    margin: 0;
    padding: 0;
    border: none;
    color: #00a0d2;
    text-align: center;
    margin-top: 1rem;
}

.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output, .wpcf7 form.payment-required .wpcf7-response-output {
    color: #ffb900;
}

.wpcf7 form.sent .wpcf7-response-output {
    color: #46b450;
}

footer .wpcf7-not-valid-tip {
    position: relative;
    bottom: 0;
    left: 0;
}

.wpcf7-not-valid-tip {
    color: #dc3232;
    font-size: 0.8rem;
    font-weight: normal;
    display: block;
    position: absolute;
    bottom: -0.1rem;
    left: 4.1rem;
}